html
    head
        link(rel="stylesheet", href="public/index.css")
    body
        h1 User Profile Page 
        h2.gold  Nickname 
        div.green.big= nickname

        h2 Profile 
        img(src=profileImageURL).profileImage
        form(action=`/user/${userId}/profile` method="post" enctype="multipart/form-data")
            input(type="file" name = "profile")
            button Upload Profile Picture 

        a(href="/users") Back to users